<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: separate;
            border: 2px solid black;
            border-spacing: 4px;
        }
        td {
            padding: 5px;
            border: 1px solid lightgray;
            text-align: center;
        }
        th {
            padding: 10px;
            border: 1px solid black;
            background-color: cyan;
        }
    </style>
    <title>Список пользователей</title>
</head>
<body>
    <form action="/users?action=showCreateUserForm" method="POST">
        <table>
            <tr>
                <th>Пользователь</th>
                <th>Действия</th>
            </tr>
            <tr th:each="user : ${users}">
                <td>
                    <a th:href="@{/users?action=show(userId=${user.id})}"
                       th:text="${user.name + #strings.prepend(user.surname, ' ')}">Имя Фамилия пользователя</a>
                </td>
                <td>
                    <a th:href="@{/users?action=delete(userId=${user.id})}">Удалить</a>
                    <br>
                    <a th:href="@{/users?action=showUpdateUserForm(userId=${user.id})}">Изменить</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Добавить пользователя">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>