<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового пользователя</title>
</head>
<body>
    <form method="POST" action="/users?action=create" th:object="${newUserData}">
        <div>
            <label for="name">Имя</label>
            <input type="text" required="true" th:field="*{name}" id="name">
            <br>
            <label for="surname">Фамилия</label>
            <input type="text" required="true" th:field="*{surname}" id="surname">
            <br>
            <label for="age">Возраст</label>
            <input type="number" min="0" max="127" th:field="*{age}" id="age">
            <br>
            <label for="jobName">Профессия</label>
            <input type="text" th:field="*{jobName}" id="jobName">
            <br>
            <label for="salary">Зарплата</label>
            <input type="number" min="0" th:field="*{salary}" id="salary">
            <br>
            <label for="login">Логин</label>
            <input type="text" required="true" th:field="*{login}" id="login">
            <br>
            <label for="password">Пароль</label>
            <input type="password" required="true" th:field="*{password}" id="password">
            <br>
            <label for="admin">Дать права администратора</label>
            <input type="checkbox" id="admin">
            <br>
            <input type="submit" value="Создать">
        </div>
    </form>
</body>
</html>