<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: separate;
            border: 2px solid black;
            border-spacing: 4px;
        }
        td {
            padding: 5px;
            border: 1px solid lightgray;
            text-align: center;
        }
        th {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
    <title>Список пользователей</title>
</head>
<body>
    <table>
        <tr>
            <th>Пользователь</th>
            <th>Действия</th>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name + ' ' + user.surname}">user</a>
            </td>
            <td>
                <a th:href="@{/users/delete/{id}(id=${user.id})}">Удалить</a>
                <br>
                <a th:href="@{/users/update/{id}(id=${user.id})}">Изменить</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form action="users/new" method="get">
                    <input type="submit" value="Создать пользователя">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>