<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление данных пользователя</title>
</head>
<body>
    <form th:method="POST" th:action="@{/users/update/{id}(id=${userData.user.id})}" th:object="${userData}">
        <div>
            <label for="name">Имя</label>
            <input type="text" required="true" th:field="*{user.name}" id="name">
            <br>
            <label for="surname">Фамилия</label>
            <input type="text" required="true" th:field="*{user.surname}" id="surname">
            <br>
            <label for="age">Возраст</label>
            <input type="number" min="0" max="127" th:field="*{user.age}" id="age">
            <br>
            <label for="jobName">Профессия</label>
            <input type="text" th:field="*{job.name}" id="jobName">
            <br>
            <label for="salary">Зарплата</label>
            <input type="number" min="0" th:field="*{job.salary}" id="salary">
            <br>
            <input type="submit" value="Обновить">
            <input type="reset" value="Сбросить изменения">
        </div>
    </form>
</body>
</html>